* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

<<<<<<< HEAD
.main_all{
<<<<<<< HEAD
    /* height: 150px; */
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; */
    /* background-repeat: no-repeat; */
    width:100vw;
    height:70vh;
    position: relative;
    display: inline-block;
=======
    width:100%;
    height:70vh;
=======
.main_all {
    width: 100%;
    height: 70vh;
>>>>>>> ca2cdc45dc82d08259e5e21e470c8473b616eb2c
    position: relative;
>>>>>>> 015b1c7a25d44496e59497b7c752128c1281083f
}

.img_all {
    height: 100%;
    width: 100%;
}

/* .float{
    position: absolute;
   top: 50%;
   left: 1%;
   margin-top: 66px;
<<<<<<< HEAD
  /* z-index: 5; */
=======
>>>>>>> 015b1c7a25d44496e59497b7c752128c1281083f
  color: white;
  
  
} */
.btn_div_watch {
    position: absolute;
    top: 60%;
    right: 1%;
}
<<<<<<< HEAD
.btn{
<<<<<<< HEAD
   /* margin-left:  16px; 
   padding: 16px;
   boe */
=======
>>>>>>> 015b1c7a25d44496e59497b7c752128c1281083f
   background-color: #d02d2d;
   border: none;
   color: #fff;
   padding: 20px 108px;
   text-align: center;
   text-decoration: none;
<<<<<<< HEAD
   /* display: inline-block; */
=======
>>>>>>> 015b1c7a25d44496e59497b7c752128c1281083f
   font-size: 24px;
   margin: 4px 22px;
   cursor: pointer;
   border-radius: 5px;
=======

.btn_watch {
    background-color: #d02d2d;
    border: none;
    color: #fff;
    padding: 8px 8px;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
}

.btn_div_info {
    position: absolute;
    top: 60%;
    right: 10%;
}

.btn_info {
    background: #d02d2d;
    color: #fff;
    font-size: 24px;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.info_class{
    position: absolute;
    top: 70px;
    left: 180px;
>>>>>>> ca2cdc45dc82d08259e5e21e470c8473b616eb2c
}